<!doctype html>
<html ng-app="index">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nível 3 Módulo 6</title>
    <link href="/nodeDependencies/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/geral.css" rel="stylesheet">
    <script src="/nodeDependencies/node_modules/angular/angular.js"></script>
    <script src="/nodeDependencies/node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  </head>
  <body>"src/main/resources/static/templates/index.html"
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a href="#!welcome" class="navbar-brand">Módulo 6</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#!carros" class="nav-link">Consulta</a>
            </li>
            <li class="nav-item">
              <a href="#!carro" class="nav-link">Cadastro</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <main class="container">  
        <ui-view></ui-view>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/nodeDependencies/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/nodeDependencies/node_modules/lodash/lodash.min.js"></script>
    <script src="/nodeDependencies/node_modules/restangular/dist/restangular.min.js"></script>
    <script src="/nodeDependencies/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="/templates/app.js"></script>
    <script src="/templates/filters/filters.js"></script>
    <script src="/templates/directives/jQueryPlugins.js"></script>
    <script src="/templates/services/carroService.js"></script>
    <script src="/templates/services/enumsService.js"></script>
    <script src="/templates/services/modeloService.js"></script>
    <script src="/templates/services/fabricanteService.js"></script>
    <script src="/templates/services/validationsService.js"></script>
    <script src="/templates/controllers/consulta.js"></script>
    <script src="/templates/controllers/cadastro.js"></script>
    <script src="/templates/controllers/index.js"></script>
  </body>
</html>